@font-face {
  font-family: Aleo-b;
  src: url(../fonts/Aleo-Bold.otf);
}

@font-face {
  font-family: Aleo-bi;
  src: url(../fonts/Aleo-BoldItalic.otf);
}

@font-face {
  font-family: Aleo-i;
  src: url(../fonts/Aleo-Italic.otf);
}

@font-face {
  font-family: Aleo-l;
  src: url(../fonts/Aleo-Light.otf);
}

@font-face {
  font-family: Aleo-li;
  src: url(../fonts/Aleo-LightItalic.otf);
}

@font-face {
  font-family: Aleo-r;
  src: url(../fonts/Aleo-Regular.otf);
}

@font-face {
  font-family: Bazar;
  src: url(../fonts/Bazar.ttf);
}

@font-face {
  font-family: WCManoNegra-b;
  src: url(../fonts/WCManoNegraBoldBta.otf);
}

@font-face {
  font-family: WCManoNegra;
  src: url(../fonts/WCManoNegraBta.otf);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font: normal 100% serif;
  color: #3b3b3b;
  font-family: ;
}

.clearfix{
  display: block;
  clear: both;
}

.wrapper{
  width: 90%;
  max-width: 958px;
  margin: 0 auto;
}

/* HEADER */
.header{
  background-color: #ffffff;
  height: 24px;
  margin: 3% 5%;
}

.logo-head{
  float: left;
}

.menu-header{
  float: right;
  width: 405px;
}

.menu-header__item{
  display: inline;
  font-size: 1em;
  margin-right: 7%;
  color: #3b3b3b;
}

.menu-header__item:last-child{
  margin: 0;
}
/* HEADER */


/*CONTAINER*/
.container{
  position: relative;
  padding: 0 10%;
}

.billboard{
  position: relative;  
  max-height: 364px;
  margin-bottom: -10px;
  z-index: 10;
}

.billboard__title-block{
  display: block; 
  position: absolute;  
  z-index: 10;
  margin: 14% 15% 14% 21%;
  text-align: center;
}

.billboard__title{  
  font-size: 3em;
  color: white;
  font-weight: bold;
  font-family: WCManoNegra;
}

.billboard__description{
  font-size: 1em;
  color: white;  
}

.billboard__img{
  max-width: 100%;  
  position: relative;
  max-height: 364px;
}

.stick {
  position: relative; 
  height: 50px;
  width: 0px;
  border-left: 55px solid #f34949;
  border-right: 55px solid #f34949;
  border-bottom: 10px solid transparent;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  margin-left: 45%;
  margin-bottom: 50px;
}

.stick__title{
  color: white;
  position: absolute;
  top: 15px;
  left: -33px;
  display: block;
  width: 70px;
}

.the-menu{
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  min-height: 300px;
}

.menu{
  position: relative; 
  -webkit-column-count:2;  
  -moz-column-count:2;  
  column-count:2;
  -webkit-column-gap: 125px;  
  -moz-column-gap: 125px;  
  column-gap: 125px; 
}

.menu__item{
  height: 20px;
  margin-bottom: 25px;
  display: block;  
  width: 100%;
}

.menu__title{
  font-size: 1em;
  float: left;
}

.menu__price{
  font-size: 0.8em;
  float: right;
}

.menu__discription{
  font-size: 0.8em;
  float: left;
  color: #b5b5b5;
}

.featured-dishes{
  margin-bottom: 100px;
}

.featured-dishes__title{
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

.featured-dishes__list{
  padding: 0;  
}

.featured-dishes__item{
  display: inline-block;
  width: 19%;
  margin: 0 2.6%;
}

.featured-dishes__discription{
  float: left;
  font-size: 0.8em;
}

.featured-dishes__price{
  float: right;
  font-size: 0.8em;
}

.featured-dishes__img{
  max-width: 100%;
  margin-bottom: 10px;
}

.featured-dishes__stars{
	width: 60px;	
  float: left;
}

.featured-dishes__stars_item{
	font-size: 1em;
	color: orange;
	cursor: pointer;
}

.featured-dishes__stars_item:hover:before{
	content: "\2605";
	position: absolute;
	color: orange;
}


.gallery{
  position: relative;
  margin-bottom: 100px;
  height: 350px;
  width: 100%;  
}

.gallery__title{
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

.gallery__img{
  float: left;
  max-width: 33%;
}

/*CONTAINER*/

/*FOOTER*/
.footer{
  background: #3b3b3b;
  padding: 4% 10%;
  position: relative;
  height: 98px;
}

.address{
  float: left;
  margin-right: 10%;
}

.address__item{
  color: white;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.menu-footer{
  float: left;
}

.menu-footer__item{
  color: white;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.menu-footer__link{
  color: white;
}

.logo-footer{  
  float: right;
  height: 70px;
  width: 150px;
}

.logo-footer__link{
  
}

.logo-footer__img{
  margin-bottom: 20px;
}

.copyright{
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
}
/*FOOTER*/